db.sqlite3
venv
Team_Production_Report/__pycache__
resources/migrations/__pycache__
resources/management/__pycache__
resources/__pycache__
projects/templatetags/__pycache__
projects/migrations/__pycache__
projects/management/__pycache__
projects/__pycache__